
<center>
<table width="70%">
<tr><td colspan=4>
BANNERBANNERBANNERBANNERBANNERBANNERBANNERBANNERBANNERBANNERBANNERBANNERBANNERBANNERBANNER
BANNERBANNERBANNERBANNERBANNERBANNERBANNERBANNERBANNERBANNERBANNERBANNERBANNERBANNERBANNER
BANNERBANNERBANNERBANNERBANNERBANNERBANNERBANNERBANNERBANNERBANNERBANNERBANNERBANNERBANNER
BANNERBANNERBANNERBANNERBANNERBANNERBANNERBANNERBANNERBANNERBANNERBANNERBANNERBANNERBANNER
BANNERBANNERBANNERBANNERBANNERBANNERBANNERBANNERBANNERBANNERBANNERBANNERBANNERBANNERBANNER
BANNERBANNERBANNERBANNERBANNERBANNERBANNERBANNERBANNERBANNERBANNERBANNERBANNERBANNERBANNER
BANNERBANNERBANNERBANNERBANNERBANNERBANNERBANNERBANNERBANNERBANNERBANNERBANNERBANNERBANNER
BANNERBANNERBANNERBANNERBANNERBANNERBANNERBANNERBANNERBANNERBANNERBANNERBANNERBANNERBANNER
BANNERBANNERBANNERBANNERBANNERBANNERBANNERBANNERBANNERBANNERBANNERBANNERBANNERBANNERBANNER
BANNERBANNERBANNERBANNERBANNERBANNERBANNERBANNERBANNERBANNERBANNERBANNERBANNERBANNERBANNER
BANNERBANNERBANNERBANNERBANNERBANNERBANNERBANNERBANNERBANNERBANNERBANNERBANNERBANNERBANNER
BANNERBANNERBANNERBANNERBANNERBANNERBANNERBANNERBANNERBANNERBANNERBANNERBANNERBANNERBANNER
BANNERBANNERBANNERBANNERBANNERBANNERBANNERBANNERBANNERBANNERBANNERBANNERBANNERBANNERBANNER
</td></tr>
<tr>
<td style="text-align:right" colspan=4>
<%= link_to 'Cadastrar novo cliente', new_client_path %>
</td>
</tr>

<tr><td colspan=4></td><tr>
<tr><td colspan=4></td><tr>
<tr><td colspan=4></td><tr>
<tr><td colspan=4></td><tr>
<tr><td colspan=4></td><tr>


<tr style="text-align:center">
<td>
NEWSNEWSNEWSNEWSNEWS
NEWSNEWSNEWSNEWSNEWS
NEWSNEWSNEWSNEWSNEWS
NEWSNEWSNEWSNEWSNEWS
NEWSNEWSNEWSNEWSNEWS
NEWSNEWSNEWSNEWSNEWS
NEWSNEWSNEWSNEWSNEWS
</td>
<td>
NEWSNEWSNEWSNEWSNEWS
NEWSNEWSNEWSNEWSNEWS
NEWSNEWSNEWSNEWSNEWS
NEWSNEWSNEWSNEWSNEWS
NEWSNEWSNEWSNEWSNEWS
NEWSNEWSNEWSNEWSNEWS
NEWSNEWSNEWSNEWSNEWS
</td>
<td>
NEWSNEWSNEWSNEWSNEWS
NEWSNEWSNEWSNEWSNEWS
NEWSNEWSNEWSNEWSNEWS
NEWSNEWSNEWSNEWSNEWS
NEWSNEWSNEWSNEWSNEWS
NEWSNEWSNEWSNEWSNEWS
NEWSNEWSNEWSNEWSNEWS
</td>
<td>
NEWSNEWSNEWSNEWSNEWS
NEWSNEWSNEWSNEWSNEWS
NEWSNEWSNEWSNEWSNEWS
NEWSNEWSNEWSNEWSNEWS
NEWSNEWSNEWSNEWSNEWS
NEWSNEWSNEWSNEWSNEWS
NEWSNEWSNEWSNEWSNEWS
</td>
</tr>

</table>
</center>


